body {
  background-color: rgb(70, 70, 70);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: white;
  color: black;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px;
  margin: 0px;
}

#room_select_bar {
  display: inline-block;
  width: 400px;
  margin-bottom: 20px;
}

@media all and (max-width: 416px) {
  #room_select_bar {
    width: 100%;
  }
}

#room_name_input {
  width: calc(100% - 10px - 35px - 5px);
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px 5px;
  margin: 0px;
}

#room_name_autocomplete {
  z-index: 1;
  width: 100%;
}

#room_name_autocomplete div {
  padding: 10px;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.95);
  border-bottom: 1px solid rgb(70, 70, 70);
}

#room_name_autocomplete div:hover {
  background-color: rgb(50, 50, 50);
}

.item_active {
  background-color: DodgerBlue !important;
}

@media all and (min-height: 200px) {
  footer {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 157px);
  }
}

#github_link {
  background-color: inherit;
  color: inherit;
  font-size: 25px;
}
