body {
  background-color: rgb(70, 70, 70);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

button {
  cursor: pointer;
}

/* Checkboxes *************************************************************************************/
.checkbox {
  margin: 15px;
}

.checkbox_title {
  font-weight: bolder;
  position: relative;
  top: 10px;
  margin: 10px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/* QR code ****************************************************************************************/
#qr_code_title {
  font-weight: bolder;
  width: 200px;
  margin: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}

#qr_code_image {
  margin: 15px;
}

/* Show settings button ***************************************************************************/
#show_settings_button {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  z-index: 3;
}

#show_settings_button:hover {
  color: rgb(230, 230, 230);
}

#show_settings_button:active {
  color: rgb(200, 200, 200);
}

/* Settings side navigation ***********************************************************************/
#settings {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: rgb(17, 17, 17);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* Settings title *********************************************************************************/
#settings_title {
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px;
}

/* Hide settings button ***************************************************************************/
#hide_settings_button {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 36px;
}

#hide_settings_button:hover {
  color: rgb(230, 230, 230);
}

#hide_settings_button:active {
  color: rgb(200, 200, 200);
}

/* Sync with room checkbox ************************************************************************/
#sync_checkbox {
  white-space: nowrap;
}

/* Shuffle likes to playlist **********************************************************************/
#shuffle_likes_to_playlist {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px;
}

#shuffle_likes_to_playlist_button {
  background-color: white;
  font-weight: bolder;
  font-size: inherit;
  font-family: inherit;
  color: black;
  width: 200px;
  border-radius: 4px;
  border: none;
  padding: 10px;
}

#shuffle_likes_to_playlist_button:hover {
  background-color: rgb(230, 230, 230);
}

#shuffle_likes_to_playlist_button:active {
  background-color: rgb(200, 200, 200);
}

/* Room name **************************************************************************************/
#room_name {
  font-size: 32px;
  font-weight: bolder;
}

/* Change room link *******************************************************************************/
#change_room_link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: calc(50% + 223px);
}

#change_room_link:hover {
  color: rgb(230, 230, 230);
}

#change_room_link:active {
  color: rgb(200, 200, 200);
}

/* Search bar *************************************************************************************/
#search_bar {
  width: 640px;
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

#search_input {
  width: calc(100% - 10px - 35px - 5px);
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px 5px;
  margin: 0px;
}

#search_button {
  background-color: white;
  color: black;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px;
  margin: 0px;
}

#search_button:hover {
  background-color: rgb(230, 230, 230);
}

#search_button:active {
  background-color: rgb(200, 200, 200);
}

#search_results {
  position: absolute;
  z-index: 2;
  width: 100%;
}

#search_results div {
  cursor: pointer;
  text-align: left;
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.95);
  border-bottom: 1px solid rgb(70, 70, 70);
}

#search_results div span {
  position: absolute;
  width: calc(100% - 120px - 20px - 8px);
  height: 90px;
  padding-left: 8px;
  overflow: hidden;
}

#search_results div:hover {
  background-color: rgb(50, 50, 50);
}

.search_results_active {
  background-color: DodgerBlue !important;
}

/* Player *****************************************************************************************/
#player {
  max-width: 100%;
}

/* Next room song button **************************************************************************/
#next_room_song_button {
  background-color: inherit;
  color: inherit;
  font-size: 20px;
  border: none;
  outline: none;
}

.next_room_song_button_clicked {
  opacity: 0.2;
  cursor: not-allowed;
}

/* Next room song votes ***************************************************************************/
#next_room_song_votes {
  background-color: inherit;
  color: inherit;
  font-size: 10px;
  position: relative;
  bottom: 10px;
  right: 10px;
}

/* Song list buttons ******************************************************************************/
#song_list_buttons {
  display: inline-block;
  background-color: rgb(30, 30, 30);
  width: 640px;
}

#song_list_buttons button {
  background-color: inherit;
  color: inherit;
  float: left;
  width: 33.33%;
  border: 1px solid rgb(70, 70, 70);
  outline: none;
  padding: 14px 16px;
}

#song_list_buttons button:hover {
  background-color: rgb(50, 50, 50);
}

#song_list_buttons button.active {
  background-color: rgb(100, 100, 100);
}

/* Song list **************************************************************************************/
.song_list {
  position: relative;
  width: 640px;
  left: calc(50% - 320px);
}

.song_list div {
  text-align: left;
  padding: 10px;
  background-color: rgb(30, 30, 30);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.song_list div:hover {
  background-color: rgb(50, 50, 50);
}

.song_list div img.clickable:hover {
  cursor: pointer;
}

.playlist_songs_titles {
  text-align: left;
  line-height: 90px;
  position: absolute;
  width: calc(100% - 120px - 60px - 20px - 8px);
  height: 90px;
  padding-left: 8px;
  overflow: hidden;
}

.add_playlist_buttons {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  position: absolute;
  width: calc(100% - 120px - 60px - 20px);
  height: 90px;
  border: none;
  outline: none;
  padding: 0px 0px 0px 8px;
  margin: 0px;
  overflow: hidden;
}

.like_buttons {
  background-color: inherit;
  color: IndianRed;
  font-size: 60px;
  width: 60px;
  height: 90px;
  float: right;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}

.playlist_management_buttons {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 1;
  width: 120px;
}

.remove_from_playlist_buttons {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 30px;
  border: none;
  outline: none;
}

.up_vote_buttons {
  background-color: rgba(0, 0, 0, 0);
  color: red;
  font-size: 30px;
  float: right;
  border: none;
  outline: none;
  padding: 0px;
}

.up_vote_numbers {
  float: right;
  left: 100px;
  padding: 7px;
}

/* Next suggested song ****************************************************************************/
#next_suggested_song {
  padding: 0px;
  margin-top: 5px;
}

/* Show suggestions button ************************************************************************/
#show_suggestions_button {
  cursor: pointer;
  font-size: 36px;
  background-color: white;
  color: rgb(70, 70, 70);
  padding: 3px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 3;
}

#show_suggestions_button:hover {
  background-color: rgb(230, 230, 230);
}

#show_suggestions_button:active {
  background-color: rgb(200, 200, 200);
}

/* Suggestions side navigation ********************************************************************/
#suggestions {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgb(17, 17, 17);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Suggestions title ******************************************************************************/
#suggestions_title {
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  right: 0;
  margin: 16px;
}

/* Suggestions list *******************************************************************************/
#suggestions_list {
  margin-top: 60px;
  margin-bottom: 8px;
}

/* Hide suggestions button ************************************************************************/
#hide_suggestions_button {
  cursor: pointer;
  font-size: 36px;
  background-color: white;
  color: rgb(70, 70, 70);
  padding: 3px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: 5px;
}

#hide_suggestions_button:hover {
  background-color: rgb(230, 230, 230);
}

#hide_suggestions_button:active {
  background-color: rgb(200, 200, 200);
}

/* Show chat button *******************************************************************************/
#show_chat_button {
  cursor: pointer;
  color: inherit;
  font-size: 30px;
  position: fixed;
  bottom: 45px;
  left: calc(50% + 325px);
}

#show_chat_button:hover {
  color: rgb(230, 230, 230);
}

#show_chat_button:active {
  color: rgb(200, 200, 200);
}

#chat_notification{
  color: red;
  font-size: 15px;
  position: absolute;
  left: 15px;
}

/* Chat popup *************************************************************************************/
#chat_popup {
  display: none;
  background-color: rgb(17, 17, 17);
  position: fixed;
  bottom: 0px;
  left: calc(50% + 360px);
  width: 400px;
  z-index: 20;
  padding: 5px;
}

#chat_title {
  margin: 7px;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
}

#hide_chat_button {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 16px;
  font-size: 36px;
}

#hide_chat_button:hover {
  color: rgb(230, 230, 230);
}

#hide_chat_button:active {
  color: rgb(200, 200, 200);
}

#chat_log_scrollable {
  height: 400px;
  margin-top: 60px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

#chat_log {
  text-align: left;
  overflow-anchor: none;
}

#chat_log_anchor {
  overflow-anchor: auto;
  height: 1px;
}

#chat_message {
  width: calc(100% - 10px - 35px - 5px);
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px 5px;
  margin: 0px;
}

#chat_send_button {
  background-color: white;
  color: black;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px;
  margin: 0px;
}

/* Back to top link *******************************************************************************/
#back_to_top_link {
  color: inherit;
  font-size: 30px;
  position: fixed;
  bottom: 5px;
  left: calc(50% + 325px);
}

#back_to_top_link:hover {
  color: rgb(230, 230, 230);
}

#back_to_top_link:active {
  color: rgb(200, 200, 200);
}

/* Special rules for small screen *****************************************************************/
@media all and (max-width: 666px) {
  #search_bar {
    width: 100%;
  }

  #song_list_buttons {
    position: relative;
    width: 100%;
  }

  .song_list {
    width: 100%;
    left: 0px;
  }

  #suggestions_list {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 737px) {
  #change_room_link {
    position: static;
  }

  #back_to_top_link {
    left: calc(100% - 38px);
  }

  #show_chat_button {
    left: calc(100% - 38px);
  }
}

@media all and (max-width: 1550px) {
  #chat_popup {
    left: calc(100% - 410px);
  }
}

@media all and (max-width: 410px) {
  #chat_popup {
    left: 0px;
    width: calc(100% - 10px);
  }
}

@media all and (max-height: 500px) {
  #chat_log_scrollable{
    height: calc(100vh - 100px);
  }
}
