body {
  background-color: rgb(70, 70, 70);
  font: 16px Arial;
  color: white;
}

input[type=button] {
  cursor: pointer;
}

#search_bar {
  position: relative;
  display: inline-block;
}

#search_input {
  width: 550px;
}

.autocomplete_items, #search_results {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete_items div, .search_video_list {
  padding: 10px;
  cursor: pointer;
  background-color: rgba(30, 30, 30, 0.95);
}

.autocomplete_items div:hover, .search_video_list:hover {
  background-color: rgba(50, 50, 50);
}

.autocomplete_active {
  background-color: DodgerBlue !important; 
}
